nav.main ul {
    padding: 0.5rem;
    margin: 0.3rem;
    background: #FFF;
    display: flex;
    overflow: hidden;
}

nav.main li {
    display: block;
    list-style: none outside;
    position: relative;
}

nav.main > ul > li:not(:last-child) {
    padding-right: 0.5rem;
}

nav.main a {
    display: block;
    padding: 0.5rem 1rem;
    background: #333;
    color: #FFF;
    text-decoration: none;
    border-radius: 0.5rem;
}

nav.main a:hover {
    background: #060;
}



#main-nav-toggle {
    display: block;
}

@media screen and (max-width: 800px) {
    nav.main {
        display: none;
    }

    nav.main > ul {
        flex-direction: column;
        border-block-end: 2px solid #333;
        border-block-start: 2px solid #333;
    }
    
    #main-nav-toggle:checked + header nav.main {
        display: block;
        flex: 1 0 100%;
    }

    nav.main > ul > li:not(:last-child) {
        padding: 0 0 0.5rem 0;
    }

    body > header:first-of-type {
        border-bottom: none;
    }
}

@media screen and (min-width: 800px) {
    #toggle {
        display: none;
    }
}