header {
    border-bottom: 2px solid #000;
}

h1, h2, h3, h4, h5, h6, blockquote{
    font-family: "Georgia", sans-serif;
    size: 1em/1.2;
}

body {
    background: rgb(238, 238, 238);
}

.second-image {
    width: 10%;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5rem 0.1rem rgba(0, 0, 0, 0.25);
    border: 3px solid #222;
    float: right;
    padding: 0.5rem;
}

.first-image {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5rem 0.1rem rgba(0, 0, 0, 0.25);
    border: 3px solid #222;
    float: left;
    padding: 0.5rem;
    margin: 1rem 1.5rem 1rem 1.5rem;
}

blockquote {
    float: right;
    width: 40%;
    border-left: 4px solid #DDD;
    padding: 1rem 2rem;
    font-style: italic;
}

.author {
    text-align: right;
}

div {
    overflow: hidden;
}

main {
    width: 70%;
}

aside {
    margin: 1rem, 1rem, 1rem, 1rem;
    width: 30%;
    float: right;
}

html {
    font-family: "Helvetica", sans-serif;
}

header nav {
    display: block;
    float: right;
}

header nav li {
    display: inline-block;
}

header nav li a {
    display: block;
}