.main {
    padding-left: 5rem;
    flex: 1 0 auto;
}

.main ul {
}

.main li {
    list-style: none outside;
    display: block;
}

.main li a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
}

.main ul ul {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 2.4rem; 
    left: 0;
    width: 100%;
    transform: translateY(1rem);
    transition: opacity 0.2s ease, 0.2s ease;
    background: red;
    display: flex;
}

.main > ul {
    display: flex;
    position: relative;
    background: #DDD;
}

.main li:hover > a,
.main a:hover {
    background: #060;
    color: white;
}

.main li:hover > ul {
    opacity: 1;
    transform: translateY(0);
    pointer-events: inherit;
}

.main ul ul li a {
    height: 100%;
    padding: 8rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main ul ul li a i,
.main ul ul li span {
    display: block;
}

.main ul ul li a .copy {
    font-weight: bold;
}

.main ul ul li a .desc {
    font-size: 0.9rem;
    font-style: italic;
    opacity: 0.8;
}