blockquote {
    border-left: 4px solid rgb(221,221,221);
    font-style: italic;
}

blockquote .author {
    text-align: right;
}
        
th {
    background-color: gray;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: darkgrey;
}


